# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.slamazon.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\tcare\LD2020\slamazon\.idea\.idea.slamazon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
